[Unit]
Description=Launch BruteDrop every 20s
Requires=brutedrop.service

[Timer]
OnCalendar=*-*-* *:*:00,20,40
Persistent=true

[Install]
WantedBy=timers.target
